body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

div {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}


.disabled {
    color: #ccc;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.enabled {
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
}